node-red-camera.json
[{"id":"30913992eb344d5a","type":"tab","label":"摄像头","disabled":false,"info":"","env":[]},{"id":"fa64e3b66a8fb6b9","type":"inject","z":"30913992eb344d5a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":140,"wires":[["d4f7e5e5258674aa"]]},{"id":"d4f7e5e5258674aa","type":"api-call-service","z":"30913992eb344d5a","name":"摄像头向上","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"onvif","service":"ptz","areaId":["ke_ting"],"deviceId":["5f38857ec153e15c3d4b165d0ed6c40d"],"entityId":["camera.wang_yuan_jing_mainstream"],"data":"{\"distance\":0.2,\"tilt\":\"UP\",\"move_mode\":\"ContinuousMove\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":140,"wires":[["c4e0274f075ab2b9"]]},{"id":"25d52b18d6876ca0","type":"inject","z":"30913992eb344d5a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":260,"wires":[["c314f569c6c4c805"]]},{"id":"c314f569c6c4c805","type":"api-call-service","z":"30913992eb344d5a","name":"摄像头向下","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"onvif","service":"ptz","areaId":["ke_ting"],"deviceId":["5f38857ec153e15c3d4b165d0ed6c40d"],"entityId":["camera.wang_yuan_jing_mainstream"],"data":"{\"distance\":0.2,\"tilt\":\"DOWN\",\"move_mode\":\"ContinuousMove\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":260,"wires":[["0370ace97541884a"]]},{"id":"970a58bb675755f2","type":"inject","z":"30913992eb344d5a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":380,"wires":[["e64302ba7ac5091b"]]},{"id":"e64302ba7ac5091b","type":"api-call-service","z":"30913992eb344d5a","name":"摄像头向左","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"onvif","service":"ptz","areaId":["ke_ting"],"deviceId":["5f38857ec153e15c3d4b165d0ed6c40d"],"entityId":["camera.wang_yuan_jing_mainstream"],"data":"{\"distance\":0.2,\"pan\":\"LEFT\",\"move_mode\":\"ContinuousMove\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":380,"wires":[["19f95d5d74fb7b27"]]},{"id":"77724b7ee7207b52","type":"inject","z":"30913992eb344d5a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":500,"wires":[["2db6845cb105c3d4"]]},{"id":"2db6845cb105c3d4","type":"api-call-service","z":"30913992eb344d5a","name":"摄像头向右","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"onvif","service":"ptz","areaId":["ke_ting"],"deviceId":["5f38857ec153e15c3d4b165d0ed6c40d"],"entityId":["camera.wang_yuan_jing_mainstream"],"data":"{\"distance\":0.2,\"pan\":\"RIGHT\",\"move_mode\":\"ContinuousMove\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":500,"wires":[["aad8bde2c42946aa"]]},{"id":"51c47e1f153e3b29","type":"inject","z":"30913992eb344d5a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":860,"wires":[["934cd33cd4446e74"]]},{"id":"934cd33cd4446e74","type":"api-call-service","z":"30913992eb344d5a","name":"摄像头还原","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"onvif","service":"ptz","areaId":["ke_ting"],"deviceId":["5f38857ec153e15c3d4b165d0ed6c40d"],"entityId":["camera.wang_yuan_jing_mainstream"],"data":"{\"distance\":0.1,\"pan\":\"LEFT\",\"move_mode\":\"AbsoluteMove\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":860,"wires":[["4b254c09cfd2b9ff"]]},{"id":"b8da334556267fb8","type":"inject","z":"30913992eb344d5a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":620,"wires":[["d203c56bb2583113"]]},{"id":"d203c56bb2583113","type":"api-call-service","z":"30913992eb344d5a","name":"摄像头遮蔽","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"onvif","service":"ptz","areaId":["ke_ting"],"deviceId":["5f38857ec153e15c3d4b165d0ed6c40d"],"entityId":["camera.wang_yuan_jing_mainstream"],"data":"{\"distance\":1,\"pan\":\"LEFT\",\"move_mode\":\"AbsoluteMove\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":620,"wires":[["c8a9a77ea832cc08"]]},{"id":"4b254c09cfd2b9ff","type":"api-call-service","z":"30913992eb344d5a","name":"摄像头还原","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"onvif","service":"ptz","areaId":["ke_ting"],"deviceId":["5f38857ec153e15c3d4b165d0ed6c40d"],"entityId":["camera.wang_yuan_jing_mainstream"],"data":"{\"distance\":1,\"tilt\":\"UP\",\"move_mode\":\"AbsoluteMove\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":860,"wires":[["1ae8f10bb8afda5f"]]},{"id":"8186d058cf05b8e4","type":"server-state-changed","z":"30913992eb344d5a","name":"上","server":"9747c76a.b2de88","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.she_xiang_tou_shang","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":80,"wires":[["d4f7e5e5258674aa"],[]]},{"id":"c4e0274f075ab2b9","type":"api-call-service","z":"30913992eb344d5a","name":"","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.she_xiang_tou_shang"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":140,"wires":[[]]},{"id":"b510282d3b04e154","type":"server-state-changed","z":"30913992eb344d5a","name":"下","server":"9747c76a.b2de88","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.she_xiang_tou_xia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":220,"wires":[["c314f569c6c4c805"],[]]},{"id":"0370ace97541884a","type":"api-call-service","z":"30913992eb344d5a","name":"","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.she_xiang_tou_xia"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":260,"wires":[[]]},{"id":"b7b83132c7a075a7","type":"server-state-changed","z":"30913992eb344d5a","name":"左","server":"9747c76a.b2de88","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.she_xiang_tou_zuo","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":340,"wires":[["e64302ba7ac5091b"],[]]},{"id":"d1ed365cf3673df0","type":"server-state-changed","z":"30913992eb344d5a","name":"右","server":"9747c76a.b2de88","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.she_xiang_tou_you","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":460,"wires":[["2db6845cb105c3d4"],[]]},{"id":"954ae113de76e566","type":"server-state-changed","z":"30913992eb344d5a","name":"还原","server":"9747c76a.b2de88","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.she_xiang_tou_huan_yuan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":820,"wires":[["934cd33cd4446e74"],[]]},{"id":"58e2f83e98a88160","type":"server-state-changed","z":"30913992eb344d5a","name":"遮蔽","server":"9747c76a.b2de88","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.she_xiang_tou_zhe_bi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":580,"wires":[["d203c56bb2583113"],[]]},{"id":"19f95d5d74fb7b27","type":"api-call-service","z":"30913992eb344d5a","name":"","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.she_xiang_tou_zuo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":380,"wires":[[]]},{"id":"aad8bde2c42946aa","type":"api-call-service","z":"30913992eb344d5a","name":"","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.she_xiang_tou_you"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":500,"wires":[[]]},{"id":"1ae8f10bb8afda5f","type":"api-call-service","z":"30913992eb344d5a","name":"","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.she_xiang_tou_huan_yuan"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":860,"wires":[[]]},{"id":"c8a9a77ea832cc08","type":"api-call-service","z":"30913992eb344d5a","name":"","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.she_xiang_tou_zhe_bi"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":620,"wires":[[]]},{"id":"0e64c3c76c071135","type":"server-state-changed","z":"30913992eb344d5a","name":"小米无线开关","server":"9747c76a.b2de88","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d000807f9b3_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":90,"y":740,"wires":[["7816e85c8c25d78a"]]},{"id":"7816e85c8c25d78a","type":"switch","z":"30913992eb344d5a","name":"判断触发","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"triple","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":740,"wires":[["d203c56bb2583113"],["934cd33cd4446e74"]]},{"id":"9747c76a.b2de88","type":"server","name":"MyHome","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]